.body {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    margin: 0;                 
}

/* 방향버튼 div */
.button {
    display: flex;
    border: 1px solid black;
    border-top: none;
    /* justify-content: center; */
    /* height: 100px; */
}

/* 키보드 방향버튼 */
.control-button{
    margin: 10px;
    width: 50px;
    padding: 10px 20px;      
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    
}

/* 방향버튼 여기까지 */
.control-button:hover {
    background-color: gray; 
}


